<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grace's Photography Website</title>
    <link rel="stylesheet" href="assets/main.css" />
  </head>
  <body>
    <main>
      <div class="hero lg:h-[90vh]">
        <div class="hero-content justify-center">
          <div
            class="hero-content flex-col sm:gap-5 lg:flex-row-reverse lg:gap-15"
          >
            <img
              src="assets/images/Headshot.jpeg"
              alt="Image of Grace Oster"
              class="max-w-xs justify-center rounded-lg shadow-2xl"
              loading="eager"
            />
            <div>
              <h1 class="text-center text-4xl font-bold">
                Grace's Photography Collection
              </h1>
              <p class="py-6">
                Welcome to my personal photography collage! I'm Grace Oster, and
                this space showcases my passion for capturing moments though
                photography. Enjoy exploring my work, and stay tuned as I
                continue to add more photos!
              </p>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="relative grid w-screen justify-items-center gap-y-8 p-10 sm:grid-cols-1 lg:grid-cols-3"
      >
        {{ range .Data }}
        <div
          class="card bg-base-200 {{ if .Portrait }}max-w-120{{ else }}max-w-240 md:col-span-2{{ end }} shadow-sm"
        >
          <figure>
            <img src="{{ .Asset }}" alt="{{ .Alt }}" loading="lazy" />
          </figure>
          <div class="card-body">
            <h1 class="card-title">{{ .Title }}</h1>
            <div class="flex justify-between">
              <p class="card-title text-sm font-normal">
                <strong>Date:</strong> {{ .Date }}
              </p>
              <p class="card-title text-sm font-normal">
                <strong>Dimensions:</strong> {{ index .Dimensions 0 }} x {{
                index .Dimensions 1 }}
              </p>
            </div>
            <p>{{ .Description }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </main>
  </body>
</html>
